# JumushTap Backend Requirements
# 
# For development:
#   pip install -r requirements/development.txt
#
# For production:
#   pip install -r requirements/production.txt
#
# Direct install (development):
-r requirements/development.txt
